<script type="text/javascript">
function printService()
{
	document.getElementById("print").style.visibility='hidden' ;
	window.print();
	document.getElementById("print").style.visibility='visible';
}

window.onbeforeunload = confirmExit;
function confirmExit()
{
  return "Seguro que desea salir de esta pagina, por favor verifiue si ya imprimio el comprobante de pago";
}
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/modules.css') }}" />
<table  align="right" id="print">
  <tr>
    <td><a href='javascript:printService();' ><img src="{{ asset('images/printer.png') }}" border="0" width="12px">Imprimir</a></td>
     <td>&nbsp;<a href='javascript:window.close();' ><img src="{{ asset('images/cancel.png') }}" border="0" width="10px">Cerrar</a></td>
  </tr>
</table>
<table id="printTable"  class="printReport">
<tr><td height="68px">&nbsp;</td></tr>
<tr><td>{{ account.member.name }} {{ account.member.lastName }}</td><td width="26%">{{ account.meterNumber }}</td><td width="15%"><font size="3"><b>{{ account.accountNumber }}</b></font></td></tr>
<tr><td>{{ account.member.documentNumber }}</td><td colspan="2">{{ dateFac }}</td></tr>
<tr><td>{{ account.member.address }}</td><td colspan="2">{{ dateImp }}</td></tr>
</table>
<br>
{% if(contItems > 0) %}
<table id="printTableDetail" border="0"  class="printReport">
<tr><td height="20px">&nbsp;</td></tr>
{% set total = 0 %}
{% for item in items %}
	<tr>
	{% set ant = '' %}
	{% set act = '' %}
	{% set con = '' %}
	{% if(item.type == 1) %}
		{% set ant = item.entity.meterPreviousreading.meterCurrentReading %}
		{% set act = item.entity.meterCurrentReading %}
		{% set con = act - ant %}
	{% endif %}
	<td width="9%">{{ ant }}</td>
	<td width="9%">{{ act }}</td>
	<td class="itemDetail" width="9%">{{ con }}</td>
	<td> {{ item.motive }}</td>
	<td class="itemDetail" width="6%"> {{ item.amount }} {% set total = total + item.cost %}</td>
	<td class="itemDetail" width="8%"> {{ item.unitCost | number_format(2) }}</td>
	<td style="text-align: right;" width="8%"> {{ item.cost  | number_format(2) }}</td>
	</tr>
{% endfor %}
</table>
<div style="position: absolute; right: 0px; top: 420px; width: 50px; text-align: right;">
{{ total | number_format(2) }}</div>
<div style="position: absolute; right: 0px; top: 460px; width: 50px; text-align: right;">
{{ total | number_format(2) }}</div>
<div style="position: absolute; right: 0px; top: 480px; width: 50px; text-align: right;">
0.00</div>
<div style="position: absolute; right: 0px; top: 498px; width: 50px; text-align: right;">
<b>{{ total | number_format(2) }}</b></div>

{% else %}
No existe consumos para esta cuenta.
{% endif %}