{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}{{ title }} Directiva - {{ parent() }} {% endblock %}
{% block javascripts %}
 {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/paymentmanagerialmember/js/managerialMember.js') }}"></script>
 <script type="text/javascript">
	$(document).ready(function(){  
		$(".modal").fancybox({
	    	'autoSize'      : false,
        'autoDimensions': false,
	        'width'         : 750,  
	        'height'        : 370,  
	  	    'autoScale'     : false,  
	        'transitionIn'      : 'none',  
	        'transitionOut'     : 'none',  
	        'type'          : 'iframe' 	        	     
	    });  
	}); 
	loadEvents();
	function cerrarFancyboxYRedirigeAUrl(url)
	{
	    $.fancybox.close();
	    window.location = url;
	}		
</script>
{% endblock %}
{% block content %}
<div id="title_image">{{ title }} Miembro de Directiva </div>
<form action="{{ path('_editManagerialMember') }}" method="post" {{ form_enctype(form) }} id="managerialMemberEdit" name="mangerialMemberEdit">
<div id="contentLeft">
 {% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-message">
     {% autoescape false %}
        {{ flashMessage|trans({}, 'FOSUserBundle') }}
     {% endautoescape %}
    </div><br>
{% endfor %}

{{ app.session.flashbag.set('message', '')}}
{{ form_errors(form.memberName) }}
{{ form_errors(form.charge) }}
{{ form_errors(form.managerial) }}
{{ form_errors(form) }}
&nbsp;
</div>
<div id="contentRight">
	<table id="tableEditUser">
		{% include 'PaymentApplicationBundle:Default:fieldInclude.html.twig' %}
		<tr>
			<td class="title" valign="top">{{ form_label(form.charge) }}</td>
			<td>{{ form_widget(form.charge, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.managerial) }}</td>
			<td>{{ form_widget(form.managerial, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.isActive) }}</td>
			<td>{{ form_widget(form.isActive) }}  </td>
		</tr>
		<tr>
		<td></td>
			<td>
 				<input type="submit" value="Guardar" name="btsend" id="button_enter"/>
 				<input type="button" value="Cancelar" id="button_enter" onclick="javascript:location.href='{{ path('_listManagerialMember') }}'"/>
			</td>
		</tr>
	</table>
	<input type="hidden" name="band" value="1">
	<input type="hidden" name="cid" value="{{ cid }}">	
{{ form_rest(form) }}
</form>
</div>
{% endblock %}