{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}{{ title }} Tipo de Multa - {{ parent() }} {% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript" src="{{ asset('bundles/paymentmember/js/member.js') }}"></script>
 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
 <script type="text/javascript">
 $(function() 
 {
	$( "#memberEdit_birthDate" ).datepicker({dateFormat: "yy-mm-dd",  changeMonth: true,
		changeYear: true});
 });

 function checkDocumentNumber()
 {
	 var provinceNumber = 24;
	 var cedula=document.getElementById("memberEdit_documentNumber").value;
	 if ((cedula.length != 10) && cedula.match("/^[0-9]{10}$"))
     {
         return false;
     }

     province = cedula.substring(0, 2);
     
     if (!((province > 0) && (province <= provinceNumber))) 
     {
         return false;
     }

     //verifica que el último dígito de la cédula sea válido
     var d = new Array(10);

     //Asignamos el string a un array
     d = cedula.split("");

   	 imp = 0;
     par = 0;

     //sumamos los duplos de posición impar
     for (i = 0; i < d.length; i += 2) 
     {
         d[i] = ((d[i] * 2) > 9) ? ((d[i] * 2) - 9) : (d[i] * 2);
         imp = imp + d[i];
     }

     //sumamos los digitos de posición par
     for (i = 1; i < (d.length - 1); i += 2) 
     {
    	 d[i] = d[i] * 1;
    	 par = par + d[i];
     }
     //Sumamos los dos resultados
     suma = imp + par;
     
     //Restamos de la decena superior
     d10=suma/10;
	 d10=Math.floor(d10);
	 d10=(d10+1)*10;
	 d10=(d10-suma);
     
     //Si es diez el décimo dígito es cero        
     d10 = (d10 == 10) ? 0 : d10;

	 if (d10 == d[9])
	 {
	     return true;
	 }
	 else
	 {
		 return false;
	 }
 }
 	 	

 function submitForm()
 {	
	 if (checkDocumentNumber() == true)
     {
		 document.getElementById("memberEdit_documentNumber").style.borderColor = '';
		 document.getElementById("errorDocumentNumber").style = "display: none;";
		 document.memberEdit.submit();
     }
	 else
	 {
		document.getElementById("memberEdit_documentNumber").style.borderColor = 'red';
		document.getElementById("errorDocumentNumber").innerHTML = 'Número de Cédula Incorrecto.';	
		document.getElementById("errorDocumentNumber").style = "display: block;";
     }
 }

 function changeColor()
 {
	 document.getElementById("memberEdit_documentNumber").style.borderColor = '';
	 document.getElementById("errorDocumentNumber").innerHTML = '';	
	 document.getElementById("errorDocumentNumber").style = "display: none;";
 }
loadEvents(); 
</script>
{% endblock %}

{% block content %}
<div id="title_image">Miembros</div>
<form action="{{ path('_editMember') }}" method="post" {{ form_enctype(form) }} id="memberEdit" name="memberEdit">
	<div id="contentLeft">
		{% for flashMessage in app.session.flashbag.get('message') %}
    	<div class="flash-message">
     		{% autoescape false %}
        		{{ flashMessage|trans({}, 'FOSUserBundle') }}
     		{% endautoescape %}
    	</div>
    	<br>
		{% endfor %}

		{{ app.session.flashbag.set('message', '')}}	
		{{ form_errors(form.documentNumber) }}
		{{ form_errors(form.name) }}
		{{ form_errors(form.lastname) }}
		{{ form_errors(form.birthDate) }}
		{{ form_errors(form.address) }}
		{{ form_errors(form.email) }}
		{{ form_errors(form.phone) }}	
		{{ form_errors(form.celularPhone) }}
	<br>
	</div>
	<div id="contentRight">
	<table id="tableEditUser">
		<tr>
			<td class="title" valign="top">{{ form_label(form.documentNumber) }}</td>
			<td>
				{{ form_widget(form.documentNumber, { 'attr': {'class': 'required', 'onclick':'changeColor()'} }) }}
				<div id="errorDocumentNumber" class="error"></div> 
			</td>						
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.name) }}</td>
			<td>{{ form_widget(form.name, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.lastname) }}</td>
			<td>{{ form_widget(form.lastname, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.birthDate) }}</td>
			<td>{{ form_widget(form.birthDate,  { 'attr': {'readOnly': 'true'} })}} </td>			
		</tr>  
		<tr>
			<td class="title" valign="top">{{ form_label(form.address) }}</td>
			<td>{{ form_widget(form.address) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.email) }}</td>
			<td>{{ form_widget(form.email) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.phone) }}</td>
			<td>{{ form_widget(form.phone, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.celularPhone) }}</td>
			<td>{{ form_widget(form.celularPhone, { 'attr': {'class': 'required'} }) }} </td>
		</tr>
		<tr>
			<td class="title" valign="top">{{ form_label(form.isActive) }}</td>
			<td>{{ form_widget(form.isActive) }}  </td>
		</tr>
		{{ form_errors(form) }}				
		<tr>
		<td></td>
			<td >
 				<input type="button" value="Guardar" name="btsend" id="button_enter" onClick="javascript:submitForm();"/>
 				<input type="button" value="Cancelar" id="button_enter" onclick="javascript:location.href='{{ path('_listMember') }}';"/>
			</td>
		</tr>
	</table>
	<input type="hidden" name="band" value="1">
	<input type="hidden" name="cid" value="{{ cid }}">
	{{ form_rest(form) }}
</form>
</div>
{% endblock %}