{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}Usuarios - {{ parent() }} {% endblock %}
{% block javascripts %}
	{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
<script type="text/javascript">
jQuery.noConflict();
{% autoescape false %}
	{{ validation }}
{% endautoescape %}	
	loadEvents();	
 </script>
{% endblock %}	

{% block content %}
<br>
{% for message in validationArray %}
<div class="flash-message">
    {% autoescape false %}
        {{ message }}
    {% endautoescape %}
</div><br>
{% endfor %}
<form action="" method="post" id='configurationForm' name="configurationForm">
<table id="tableListUser" >
<tr>
	<td align="center" colspan="2">
		<b>PARAMETROS DE CONFIGURACIÓN</b>
	</td>	
</tr>
<tr>
	<td align="center" colspan="2">
		&nbsp;
	</td>	
</tr>
<tr>
	<td align="center">
		<b>NOMBRE</b>
	</td>
	<td align="center">
		<b>VALOR</b>
	</td>
</tr>
{% for item in parameters %}
    <tr>
	    <td class="content_table" >
			{{ item.name }}
        </td>   
         <td class="content_table" >
         {% if (item.typeField == 'input') %}
         		<input type="text" name="{{ item.key }}" value="{{ item.value }}" id="{{ item.key }}" required="required">         		
         {% endif %}			
		 {% if (item.typeField == 'date') %}
		 	<script type="text/javascript">
		 	jQuery.noConflict();
		 	 $(function()
		 			{
		 			$( "#{{ item.key}}").datepicker({dateFormat: "yy-mm-dd", changeMonth: true,
		 			changeYear: true});
		 			}); 		 					 	 		
			</script>
		 	<input type="text" name="{{ item.key }}" value="{{ item.value }}" id="{{ item.key }}" readonly="readonly" id="{{ item.key }}">
		 	<div id="error"></div>
		 {% endif %}
		 {% if (item.typeField == 'select') %}
		 	<select name="{{ item.key }}">
		 		{% if (item.key == 'hours_start') or (item.key == 'hours_end')%}
					{% for i in 0..24 %}
						{% if (item.value == i) %}
    						<option value="{{ i }}" selected="selected">{{ i }}</option>
    					{% else %}	
    						<option value="{{ i }}">{{ i }}</option>
    					{% endif %}	
					{% endfor %}
				 {% endif %}	
				 {% if (item.key == 'minutes_start') or (item.key == 'minutes_end')%}
				 	{% for i in 0..60 %}
				 		{% set val = null %}
				 		{% if (i < 10) %}
				 			{% set val = '0' %}
				 		{% else %}	
				 			{% set val = '' %}
				 		{% endif %}
				 		
				 		{% if (item.value == i) %}
				 			<option value="{{ i }}" selected="selected">{{ val~i }}</option>
    					{% else %}	
    						<option value="{{ i }}">{{ val~i }}</option>
    					{% endif %}		
					{% endfor %}
				 {% endif %}	
		 	</select>	
		 {% endif %}		
        </td>                              
   </tr>
{% endfor %}
<tr>
	<td align="center" colspan="2">
		&nbsp;
	</td>	
</tr>
<tr>
	<td height="50px;" align="right" valign="bottom">
 		<input type="submit" value="Guardar" name="btsend" id="button_enter"/>
 		<input type="button" value="Cancelar" id="button_enter" onclick="javascript:location.href='{{ path('configurationItem') }}'"/>
	</td>
</tr>
</table>
</form>
{% endblock %}