<script type="text/javascript">
function printService()
{
	document.getElementById("print").style.visibility='hidden' ;
	window.print();
	document.getElementById("print").style.visibility='visible';
}
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/modules.css') }}" />
<table  align="right" id="print">
  <tr>
    <td><a href='javascript:printService();' ><img src="{{ asset('images/printer.png') }}" border="0" width="12px">Imprimir</a></td>
     <td>&nbsp;<a href='javascript:window.close();' ><img src="{{ asset('images/cancel.png') }}" border="0" width="10px">Cerrar</a></td>
  </tr>
</table>
<table id="printTable"  class="printReport">
<tr><td colspan="4" align="left"><img src="{{ asset('images/image_report.png') }}" border="0"></td></tr>
<tr><td class="itemTable1">Factura N°:</td><td>{{ factNumber }}</td>
	<td class="itemTable1">Cuenta N°:</td><td><font size="3"><b>{{ account.accountNumber }}</b></font></td></tr>
<tr><td class="itemTable1">Mes Facturado:</td><td>{{ date }}</td>
	<td class="itemTable1">N° de Conexión:</td><td>{{ account.meterNumber }}</td></tr>
<tr><td class="itemTable1">Nombre:</td><td>{{ account.member.name }} {{ account.member.lastName }}</td>
	<td class="itemTable1">Cédula:</td><td>{{ account.member.documentNumber }}</td></tr>        
<tr><td class="itemTable1">Dirección:</td><td>{{ account.member.address }}</td>  
	<td class="itemTable">Fecha Pago:</td><td>{{ dateImp }}</td></tr> 
</table>
<br>

<table id="printTableDetail" border="1"  class="printReport">
<tr><th colspan="3">LECTURAS</th><th colspan="4">DETALLE DE COMPROBANTE</th></tr>
<tr><th>ANTERIOR</th><th>ACTUAL</th><th>CONSUMO</th><th>DETALLE</th><th>CANTIDAD</th><th>VALOR UNITARIO</th><th>VALOR TOTAL</th></tr>
{% set total = 0 %}
{% for item in collections %}
	<tr>
{% set ant = '' %}
	{% set act = '' %}
	{% set con = '' %}
	{% set motive = '' %}
	{% set amount = '' %}
	{% set unitCost = '' %}
	{% set cost = '' %}
	{% if(item.consumption) %}
		{% if(item.incomeType.id == 1) %}
			{% set ant = item.consumption.meterPreviousreading.meterCurrentReading %}
			{% set act = item.consumption.meterCurrentReading %}
			{% set con = act - ant %}
		{% endif %}
	{% endif %}
	{%  set motive = item.incomeType.name  %}
	{%  set amount = item.amount  %}
	{%  set unitCost = item.basicServiceUnitCost  %}
	{%  set cost = amount * unitCost  %}
	<td class="itemDetail">{{ ant }}</td>
	<td class="itemDetail">{{ act }}</td>
	<td class="itemDetail">{{ con }}</td>
	<td> {{ motive }}</td>
	<td class="itemDetail"> {{ amount }} {% set total = total + cost %}</td>
	<td class="itemDetail"> {{ unitCost | number_format(2) }}</td>
	<td class="itemDetail"> {{ cost  | number_format(2) }}</td>
	</tr>
{% endfor %}
<tr><td colspan="6" align="right"><b>Total</b></td><td class="itemDetail"><b>{{ total | number_format(2) }}</b></td></tr>
</table>
<br>
Comprobante Re-impreso. Válido como comprobante de Pago si tiene el sello de cancelación.
<br><br><br>

