<script type="text/javascript">
function printService()
{
	document.getElementById("print").style.visibility='hidden' ;
	window.print();
	document.getElementById("print").style.visibility='visible';
}
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/modules.css') }}" />
<table  align="right" id="print">
  <tr>
    <td><a href='javascript:printService();' ><img src="{{ asset('images/printer.png') }}" border="0" width="12px">Imprimir</a></td>
     <td>&nbsp;<a href='javascript:window.close();' ><img src="{{ asset('images/cancel.png') }}" border="0" width="10px">Cerrar</a></td>
  </tr>
</table>
<table id="printTable"  class="printReport">
<tr><td height="80px">&nbsp;</td></tr>
<tr><td>{{ account.member.name }} {{ account.member.lastName }}</td><td width="24%">{{ account.meterNumber }}</td><td width="21%"><font size="3"><b>{{ account.accountNumber }}</b></font></td></tr>
<tr><td>{{ account.member.documentNumber }}</td><td colspan="2">{{ date }}</td></tr>
<tr><td>{{ account.member.address }}</td><td colspan="2">{{ dateImp }}</td></tr>
</table>
<br>

<table id="printTableDetail" border="0"  class="printReport">
<tr><td height="28px">&nbsp;</td></tr>
{% set total = 0 %}
{% for item in collections %}
	<tr>
{% set ant = '' %}
	{% set act = '' %}
	{% set con = '' %}
	{% set motive = '' %}
	{% set amount = '' %}
	{% set unitCost = '' %}
	{% set cost = '' %}
	{% if(item.consumption) %}
		{% if(item.incomeType.id == 1) %}
			{% set ant = item.consumption.meterPreviousreading.meterCurrentReading %}
			{% set act = item.consumption.meterCurrentReading %}
			{% set con = act - ant %}
		{% endif %}
	{% endif %}
	{%  set motive = item.incomeType.name  %}
	{%  set amount = item.amount  %}
	{%  set unitCost = item.basicServiceUnitCost  %}
	{%  set cost = amount * unitCost  %}
	<td class="itemDetail" width="12%">{{ ant }}</td>
	<td class="itemDetail" width="10%">{{ act }}</td>
	<td class="itemDetail" width="9%">{{ con }}</td>
	<td> {{ motive }}</td>
	<td style="text-align: right;" width="6%"> {{ amount | number_format(0)}} {% set total = total + cost %}</td>
	<td style="text-align: right;" width="9%"> {{ unitCost | number_format(2) }}</td>
	<td style="text-align: right;" width="9%"> {{ cost  | number_format(2) }}</td>
	</tr>
{% endfor %}
</table>
<div style="position: absolute; right: 0px; top: 465px; width: 50px; text-align: right;" class="printReport">
{{ total | number_format(2) }}</div>
<div style="position: absolute; right: 0px; top: 495px; width: 50px; text-align: right;" class="printReport" >
{{ total | number_format(2) }}</div>
<div style="position: absolute; right: 0px; top: 525px; width: 50px; text-align: right;" class="printReport">
0.00</div>
<div style="position: absolute; right: 0px; top: 543px; width: 50px; text-align: right;" class="printReport">
<b>{{ total | number_format(2) }}</b></div>
