{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block javascripts %}
 {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
{% endblock %}	
{% block content %}
<table id="printTableList" " width="100%" style="visibility: hidden;position: absolute;">
	<tr><td colspan="2" align="center"><font size="5"><span>Junta Administradora del Abastecimiento del Agua Potable</font></span></td></tr>
	<tr><td colspan="2" align="center"><font size="2">Estado de Cuenta</font></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2"><img src="{{ asset('images/img_inicio.png') }}"/><font style="font-size:22px; font-weight: bold;"> Reporte de Cobros</font></td></tr>  
</table>
<div id="title_image">Estado de Cuenta</div>
{% set action = path('reportCollection')  %}
<table width="350" border="0" align="right" style="padding:5px;" id="print">
	<tr>
	    <td style="text-align: center">
	     	<a href='javascript:printService();'>Imprimir</a>	    	
        </td>
    </tr>    
</table>
<br><br><br>
{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-message">
{% autoescape false %}
    {{ flashMessage|trans({}, 'FOSUserBundle') }}
{% endautoescape %}
    </div><br>
{% endfor %}
{{ app.session.flashbag.set('message', '')}}
<form action="{{ path('reportAccountState') }}" method="post" {{ form_enctype(form) }} id='accounStateSearch' name="accounStateSearch">
	{{ form_errors(form) }}
    <table class="tableSearch">
    	<tr>    
    	     {% set required = 0 %}
             {% include 'PaymentApplicationBundle:Finder:finder.html.twig' %}
    	    <td class="titleSearch">{{ form_label(form.yearAccount) }}</td>
    	    <td>{{ form_widget(form.yearAccount, { 'attr': {'class': 'required' } }) }}</td>    	    
    	    <td valign="top">
				<div id = "searchButton">
                	<input type="submit" name="btsend" id="button_search" value='Buscar' id="btsend"/>                	
                </div>
            </td>            
		</tr> 
	</table>
{{ form_rest(form) }}
</form>

{% if  (account != '') %}
<br><hr>
<table id="printTable">
<tr><td colspan="2" align="center"><span>Junta Administradora del Abastecimiento del Agua Potable</span></td></tr>
<tr><td colspan="2" align="center"><font size="3">Provincia de Tungurahua</font></td></tr>
<tr><td colspan="2" align="center"><br><font size="3">Estado de Cuenta</font></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="itemTable" style="width: 20% !important;">Num. de Conexión:</td><td>{{ account.accountNumber }}</td></tr>
<tr><td class="itemTable">Apellido y Nombre del Usuario:</td><td>{{ account.member.lastname }} {{ account.member.name }}</td></tr>
<tr><td class="itemTable"> Dirección:</td><td>{{ account.member.address }}</td></tr>
<tr><td class="itemTable"> Consumo Básico:</td><td>{{ basicConsumption }} M3</td></tr>
<tr><td class="itemTable">Clase de Consumo:</td><td>{{ account.accountType.name}}</td></tr>        
</table>

	<br>
<table id="printTableDetail" border="1" style="color: #6A6D71;">
		<tr>
			<th></th>
			<th colspan="2" >Estado del Medidor</th>
			<th colspan="3" ><b>Consumo en M3</th>
			<th colspan="3" >Tarifa en $.</th>
			<th><b>Otros</b></th>
			<th colspan="3" ><b>Deuda</b></th>
			<th colspan="2" ></th>
			<th></th>
		</tr>
		<tr>
			<th>MES</th>
			<th>Actual</th>
			<th>Anterior</th>
			<th>Leído en el Mes</th>
			<th>Básico</th>
			<th>Excedente</th>
			<th>Carga Fija</th>
			<th>Excedenet</th>
			<th>Total</th>
			<th>Othos Conceptos $</th>
			<th>Total del Mes</th>
			<th>Anterior</th>
			<th>Total</th>
			<th>Pagos</th>
			<th>Saldos</th>
			<th>Fecha de Pago</th>
		</tr>
		{% for item in stateAccount %}
		<tr align="center">
			<td>
				{{ item.date }}
			</td>
			<td >	
				{{ item.meterCurrentReading }}
           </td>
			<td>
				{{  item.meterBeforeReading }}	
			</td>
			<td>
				{{  item.consumptionValue }}
			</td>
			<td>
				{{ item.basicConsumption }}
			</td>
			<td>
				{{ item.excess }}
			</td>
			<td>
				{{ item.basicCost }}
			</td>
			<td>
				{{ item.excessCost }}
			</td>
			<td>
				{{ item.totalUnit }}
			</td>
			<td>
				{{ item.aditionalCost }}				
			</td>		
			<td>
				{{ item.total }}
			</td>
			<td>
			</td>
			<td>
				{{ item.total }}
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				{{ item.paymentDate }}
			</td>
		</tr>
		{% endfor %}		
	</table>
{% endif %}	

{% endblock %}