{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
jQuery.noConflict();
$(function() {
	$( "#collectionReportSearch_startDate" ).datepicker({ 
		dateFormat: "yy-mm-dd",changeMonth: true, changeYear: true,
		onSelect: function( selectedDate ) {
            $( "#collectionReportSearch_endDate" ).datepicker( "option", "minDate", selectedDate );
    }
     });	
	
	$( "#collectionReportSearch_endDate" ).datepicker({ 
		dateFormat: "yy-mm-dd",changeMonth: true,changeYear: true,
	     onSelect: function( selectedDate ) {
	             $( "#collectionReportSearch_startDate" ).datepicker( "option", "maxDate", selectedDate );
	     }
		 });	
});

function clearForm()
{
	document.getElementById("collectionReportSearch_startDate").value = '';
	document.getElementById("collectionReportSearch_endDate").value = '';
}
function printService()
{
	upPrint();
	document.getElementById("menu_sup").style.visibility='hidden' ;
	document.getElementById("menu_sup").style.position = 'absolute';
	document.getElementById("botonera").style.visibility='hidden' ;
	document.getElementById("botonera").style.position = 'absolute';
	document.getElementById("topline").style.visibility='hidden';
	document.getElementById("topline").style.position = 'absolute';
	document.getElementById("copyright").style.visibility='hidden';
	document.getElementById("copyright").style.position = 'absolute';
	document.getElementById("searchButton").style.visibility='hidden';
	document.getElementById("searchButton").style.position = 'absolute';
	document.getElementById("printTableList").style.visibility='visible';
	document.getElementById("printTableList").style.position = 'relative';
	document.getElementById("title_image").style.visibility='hidden';
	document.getElementById("title_image").style.position ='absolute';
	document.getElementById("tableListUser").border = 1;
	document.getElementById("tags").style.visibility='visible';

	 $(".tdHidden").hide();
	
	if ({{ total }} > 10)
	{
		document.getElementById("paginator").style.visibility='hidden';
		document.getElementById("paginator").style.position ='absolute';
	}
	window.print();
	downPrint();
	document.getElementById("tableListUser").border = 0;	
	document.getElementById("menu_sup").style.visibility='visible';

	document.getElementById("botonera").style.visibility='visible';
	document.getElementById("botonera").style.position = 'relative';
	document.getElementById("topline").style.visibility='visible';
	document.getElementById("topline").style.position = 'relative';
	document.getElementById("copyright").style.visibility='visible' ;
	document.getElementById("copyright").style.position = 'relative';
	document.getElementById("searchButton").style.visibility='visible';
	document.getElementById("searchButton").style.position = 'relative';
	document.getElementById("printTableList").style.visibility='hidden';
	document.getElementById("printTableList").style.position = 'absolute';
	document.getElementById("title_image").style.visibility='visible';
	document.getElementById("title_image").style.position ='relative';
	$(".tdHidden").show();
	if ({{ total }} > 10)
	{
		document.getElementById("paginator").style.visibility='visible';
		document.getElementById("paginator").style.position ='relative';
	}		
	document.getElementById("tags").style.visibility='hidden';		
}

function upPrint()
{
	startDate = document.getElementById("collectionReportSearch_startDate").value;
	if (!startDate)
	{
		document.getElementById("collectionReportSearch_startDate").value = 'Ninguna';
	}
	endDate	= document.getElementById("collectionReportSearch_endDate").value;
	if (!endDate)
	{
		document.getElementById("collectionReportSearch_endDate").value = 'Ninguna';
	}		
}

function downPrint()
{
	startDate = document.getElementById("collectionReportSearch_startDate").value;
	if (startDate == 'Ninguna')
	{
		document.getElementById("collectionReportSearch_startDate").value = '';
	}
	endDate	= document.getElementById("collectionReportSearch_endDate").value;
	if (endDate == 'Ninguna')
	{
		document.getElementById("collectionReportSearch_endDate").value = '';
	}	
}
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
{% endblock %}	
{% block content %}
<table id="printTableList" " width="100%" style="visibility: hidden;position: absolute;">
	<tr><td colspan="2" align="left"><img src="{{ asset('images/image_report.png') }}" border="0"></td></tr>
	<tr><td colspan="2"><font style="font-size:22px; font-weight: bold;"> Reporte de Cobros</font></td></tr>  
</table>
<div id="title_image">Reporte de Cobros</div>
{% set action = path('reportCollection')  %}
<table border="0" align="right" style="padding:5px;" id="menu_sup">
	<tr>
	    <td style="text-align: center">
	     	<a href='javascript:printService();'>Imprimir</a>	    	
        </td>
    </tr>    
</table>
<br><br><br>
{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-message">
{% autoescape false %}
    {{ flashMessage|trans({}, 'FOSUserBundle') }}
{% endautoescape %}
    </div><br>
{% endfor %}
{{ app.session.flashbag.set('message', '')}}
<form action="{{ path('reportCollection') }}" method="post" {{ form_enctype(form) }} id='collectionReportSearch' name="collectionReportSearch">
	{{ form_errors(form) }}
    <table class="tableSearch">
    	<tr>    
    	    <td class="titleSearch">{{ form_label(form.startDate) }}</td>
    	    <td>{{ form_widget(form.startDate, { 'attr': {'readonly': 'readonly' } }) }}</td>
    	    <td class="titleSearch">{{ form_label(form.endDate) }}</td>
    	    <td>{{ form_widget(form.endDate, { 'attr': {'readonly': 'readonly' } }) }}</td>    	    
    	    <td valign="top">
				{{ form_widget(form.offset, { 'attr': {'value': '0'} }) }}  
				{{ form_widget(form.limit, { 'attr': {'value': limit } }) }}  
				<div id = "searchButton">
                	<input type="submit" name="btsend" id="button_search" value='Buscar' id="btsend"/>
                	<input type="button" value="Resetear" onClick="javascript:clearForm();">
                </div>
            </td>            
		</tr> 
	</table>
{{ form_rest(form) }}
</form>
<div id = "print">
<form id='form_check' name='form_check' action='' method='post'>
	<table id="tableListUser" >
    	<tr>
    	<th class="title">
                No.
            </th>
    	
        	<th class="title_check">
            	Num. Fact
            </th>
            <th class="title">
	            Número de Cuenta
            </th>
    	    <th class="title">
                Nombre del Miembro
            </th>
            <th class="title">
                Valor Total
            </th>   
            <th class="title">
                Fecha de Cobro
            </th>  
            <th class="title tdHidden">                
            </th>                        
        </tr>
        {%  set countItem = 0 %}
        {% set acom = 0 %}
		{% for item in collection %}
        <tr>
        <td>{{ countItem + 1 }}</td>
             <td class="content_table" >
             {% set num = '' %}
             {% for i in 1..(8 - item.id|length) %}
				{% set num = num ~ '0' %}
			{% endfor %}
			{{ num }}{{ item.id }}
             </td>
              <td class="content_table" >
				{{ item.accountNumber }}
             </td>
             <td class="content_table" >
				{{ item.name }} {{ item.lastname }}
             </td>
             <td class="content_table" >
				{{ item.totalValue | number_format(2)}}
             </td>
             <td class="content_table" >
				{{ item.systemDate | date("Y-m-d") }}
             </td>
          	 <td class="content_table tdHidden">
				<a href="{{ path('reportDetailCollection', {'id': item.id}) }}">Detalle</a>
             </td> 
        </tr>
        {% set countItem =  countItem + 1 %}
        {% set acom = acom + item.totalValue %}
		{% endfor %}
		{% if  total == 0 %}
		<tr>
			<td colspan="7" align="center" class="content_table_left">
            	No existen Cobros a mostrar
            </td>
        </tr>    
		{% endif %}
</table>
{% if ((total > limit) or (limit == 99999)) %}
<table id="paginator">
	<tr>
    	<td align="center">
			{% include 'PaymentApplicationBundle:Paginator:paginatorItems.html.twig' %}
        </td>	
	</tr>
</table>

</div>
{% endif %}	
</form>

<table id="tags" style="visibility: hidden;">
	<tr>
    	<td >
		Número de items: {{ countItem }} <b>Total Cobrado: {{ acom | number_format(2) }}</b>
        </td>	
	</tr>
</table>

{% endblock %}