{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
jQuery.noConflict();
$(function() {
	$( "#expensivesSearch_startDate" ).datepicker({ 
		dateFormat: "yy-mm-dd",changeMonth: true, changeYear: true,
		onSelect: function( selectedDate ) {
            $( "#expensivesSearch_endDate" ).datepicker( "option", "minDate", selectedDate );
    }
     });	
	
	$( "#expensivesSearch_endDate" ).datepicker({ 
		dateFormat: "yy-mm-dd",changeMonth: true,changeYear: true,
	     onSelect: function( selectedDate ) {
	             $( "#expensivesSearch_startDate" ).datepicker( "option", "maxDate", selectedDate );
	     }
		 });	
});

function printService()
{
	startDate = document.getElementById("expensivesSearch_startDate").value;
	endDate = document.getElementById("expensivesSearch_endDate").value;
	if (!startDate)
	{
		document.getElementById("expensivesSearch_startDate").value = 'Ninguna';		
	}
	if (!endDate)
	{
		document.getElementById("expensivesSearch_endDate").value = 'Ninguna';
	}
	
	document.getElementById("menu_sup").style.visibility='hidden' ;
	document.getElementById("menu_sup").style.position = 'absolute';
	document.getElementById("botonera").style.visibility='hidden' ;
	document.getElementById("botonera").style.position = 'absolute';
	document.getElementById("topline").style.visibility='hidden';
	document.getElementById("topline").style.position = 'absolute';
	document.getElementById("copyright").style.visibility='hidden';
	document.getElementById("copyright").style.position = 'absolute';
	document.getElementById("searchButton").style.visibility='hidden';
	document.getElementById("searchButton").style.position = 'absolute';
	document.getElementById("printTableList").style.visibility='visible';
	document.getElementById("printTableList").style.position = 'relative';
	document.getElementById("title_image").style.visibility='hidden';
	document.getElementById("title_image").style.position ='absolute';
	document.getElementById("tableListUser").border = 1;	
	document.getElementById("tags").style.visibility='visible';
	if ({{ total }} > 10)
	{
		document.getElementById("paginator").style.visibility='hidden';
		document.getElementById("paginator").style.position ='absolute';
	}
	window.print();
	document.getElementById("tableListUser").border = 0;	
	document.getElementById("menu_sup").style.visibility='visible';

	document.getElementById("botonera").style.visibility='visible';
	document.getElementById("botonera").style.position = 'relative';
	document.getElementById("topline").style.visibility='visible' ;
	document.getElementById("topline").style.position = 'relative';
	document.getElementById("copyright").style.visibility='visible' ;
	document.getElementById("copyright").style.position = 'relative';
	document.getElementById("searchButton").style.visibility='visible';
	document.getElementById("searchButton").style.position = 'relative';
	document.getElementById("printTableList").style.visibility='hidden';
	document.getElementById("printTableList").style.position = 'absolute';
	document.getElementById("title_image").style.visibility='visible';
	document.getElementById("title_image").style.position ='relative';	
	if ({{ total }} > 10)
	{
		document.getElementById("paginator").style.visibility='visible';
		document.getElementById("paginator").style.position ='relative';
	}	
	startDate = document.getElementById("expensivesSearch_startDate").value;
	endDate = document.getElementById("expensivesSearch_endDate").value;
	if (startDate == 'Ninguna')
	{
		document.getElementById("expensivesSearch_startDate").value = '';		
	}
	if (endDate  == 'Ninguna')
	{
		document.getElementById("expensivesSearch_endDate").value = '';
	}	
	document.getElementById("tags").style.visibility='hidden';
}
function clearForm()
{
	document.getElementById("expensivesSearch_startDate").value = '';
	document.getElementById("expensivesSearch_endDate").value = '';	 	
}
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
{% endblock %}	
{% block content %}
<table id="printTableList" " width="100%" style="visibility: hidden;position: absolute;">
<tr><td colspan="2" align="left"><img src="{{ asset('images/image_report.png') }}" border="0"></td></tr>
	<tr><td colspan="2"><font style="font-size:22px; font-weight: bold;"> Reporte de Gastos</font></td></tr>  
</table>
<div id="title_image">Reporte de Gastos</div>
{% set action = path('reportExpenses')  %}
<table border="0" align="right" style="padding:5px;" id="menu_sup">
	<tr>
	    <td style="text-align: center">
	     	<a href='javascript:printService();' >Imprimir</a>	    	
        </td>
    </tr>    
</table>
<br><br><br>
{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-message">
{% autoescape false %}
    {{ flashMessage|trans({}, 'FOSUserBundle') }}
{% endautoescape %}
    </div><br>
{% endfor %}
{{ app.session.flashbag.set('message', '')}}
<form action="{{ path('reportExpenses') }}" method="post" {{ form_enctype(form) }} id='expensivesSearch' name="expensivesSearch">
	{{ form_errors(form) }}
    <table class="tableSearch">
    	<tr>    
    	    <td class="titleSearch">{{ form_label(form.startDate) }}</td>
    	    <td>{{ form_widget(form.startDate, { 'attr': {'readonly': 'readonly' } }) }}</td>
    	    <td class="titleSearch">{{ form_label(form.endDate) }}</td>
    	    <td>{{ form_widget(form.endDate, { 'attr': {'readonly': 'readonly' } }) }}</td>    	    
    	    <td valign="top">
				{{ form_widget(form.offset, { 'attr': {'value': '0'} }) }}  
				{{ form_widget(form.limit, { 'attr': {'value': limit } }) }}  
				<div id = "searchButton">
                	<input type="submit" name="btsend" id="button_search" value='Buscar' id="btsend"/>
                	<input type="button" value="Resetear" onClick="javascript:clearForm();" id="button_search">
                </div>
            </td>            
		</tr> 
	</table>
{{ form_rest(form) }}
</form>
<div id = "print">
<br><br><br>
<form id='form_check' name='form_check' action='' method='post'>
	<table id="tableListUser">
    	<tr>
    	<th class="title">
                No.
            </th>
	    	<th class="title">
                Fecha
            </th>
        	<th class="title_check">
            	# Ruc
            </th>
            <th class="title">
	            Nombre
            </th>    	    
            <th class="title">
                Descripción
            </th>   
            <th class="title">
                Valor
            </th>                       
        </tr>
         {%  set countItem = 0 %}
        {% set acom = 0 %}
		{% for item in expense %}
        <tr>
         <td>{{ countItem + 1 }}</td>
             <td class="content_table">
				{{ item.expenseDate | date("Y-m-d") }}
             </td>
    
             <td class="content_table" >
				{{ item.expenseRuc }}
             </td>
             <td class="content_table" >
				{{ item.expenseName }}
             </td>
             <td class="content_table" >
				{{ item.expenseDescription }}
             </td>
             <td class="content_table" >
				{{ item.expenseValue | number_format(2)}}
             </td>
        </tr>
         {% set countItem =  countItem + 1 %}
        {% set acom = acom + item.expenseValue %}
		{% endfor %}
		{% if  total==0 %}
		<tr>
			<td colspan="7" align="center" class="content_table_left" id="content_table_left">
            	No existen gastos a mostrar
            </td>
        </tr>    
		{% endif %}
</table>
{% if ((total > limit) or (limit == 99999)) %}
<table id="paginator">
	<tr>
    	<td align="center">
			{% include 'PaymentApplicationBundle:Paginator:paginatorItems.html.twig' %}
        </td>	
	</tr>
</table>
</div>
{% endif %}	
</form>
<table id="tags" style="visibility: hidden;">
	<tr>
    	<td >
		Número de items: {{ countItem }} <b>Total Gastado: {{ acom | number_format(2) }}</b>
        </td>	
	</tr>
</table>
{% endblock %}